<component name="ArtifactManager">
  <artifact type="war" name="SpringAop-Annotation:war">
    <output-path>$PROJECT_DIR$/SpringAop-Annotation/target</output-path>
    <root id="archive" name="SpringAop-Annotation-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="SpringAop-Annotation:war exploded" />
    </root>
  </artifact>
</component>